*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #9b8d8d;
    font-family: 'Soucer Sans Pro', sans-serif;
}
h1, h2, h3{
    color: #686868;
}
#corpo h1 {
    display: none;
}
a{
    color: #fff;
    text-decoration: none;
}
p, h2, h3{
    line-height: 25pt;
}
h2, p {
    margin-top: 2%;
    text-align: center;
}
h2 {
    font-size: 2em;
}
/*header cabeçalho*/
.cabecalho{
    width: 100%;
    background-color:#11c0c0 ;
}
.cabecalho div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.navMenu ul {
    display: flex;
}
.navMenu ul li{
    list-style: none;
    margin-left: 5%;
}
.navMenu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
}
.especi a:hover, .navMenu ul li a:hover{
    color: #000;
}
/*main corpo figure recepçao*/
.img-rcpcao img{
    width: 100%;
}
.img-rcpcao figcaption{
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    margin-top: -30%;
    margin-left: 16%;
    font-size: 2em;
}
/*main corpo section sobre*/
.sobreUl{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/*main corpo section especialidades*/
.especi div {
    margin: 2% auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;

}
.especi div figure{
    margin-right: 3%;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px #9b8d8d;
}
.especi div figure img{
    width: 100%;
}
.especi a{
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    background-color: #11c0c0;
    text-align: center;
    text-transform: uppercase;  
}
/*main corpo section contato*/
main footer {
    padding: 0 4%;
}
.contato p {
    line-height: 1.5;
}
.contato iframe{
    margin: 5% 0;
    width: 100%;
}
/*footer roda pe*/
.rodaPe{
    background-color: #008080;
}
.rodaPe figure{
    text-align: center; 
}
.rodaPe p{
    color: #fff;
    line-height: 1;
}
.rodaPe p:nth-last-of-type(1){
    padding-bottom:3%;
}
/*responsividades*/
/*Telas tablet*/
@media (max-width:768px){
    h2{
        font-size: 15pt;
    }
    h3{
        font-size: 11.3pt;
    }
    p{
        line-height: 1.3;
    }
    .cabecalho div{
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .navMenu{
        margin-bottom: 2% ;
        padding-top: 2%;
     
    }
    .navMenu ul li{
        margin: 0;
        font-size: 9pt; 
    }
    .img-rcpcao {
        font-size: 8.5pt;
    }
    .sobreUl figure{
        display: none;
    }
    .especi p br{
        display: none;
    }
    .especi div{
         width: 100%;
    }
    .especi div figure{
        margin: 0 auto;
        margin-bottom: 5%;
        width: 40%;
    }
    .especi a{
        height: 5vh;
        font-size: 10pt;
    }
}
/*tela mobile*/
@media (max-width:525px){
    h2{
        font-size: 15pt;
    }
    h3{
        font-size: 11.3pt;
    }
    p{
        line-height: 1.3;
    }
    .fotoLog {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .fotoLog img {
        width: 150px;
        text-align: center;
    }
    .navMenu{
        border-top: 2px solid rgba(0, 0, 0, .1);
        margin-bottom: 2% ;
        padding-top: 2%;
         margin: 0 auto 3%;
    }
    .navMenu ul li{
        margin: 0;
        font-size: 9pt; 
    }
    .img-rcpcao {
        font-size: 8.5pt;
    }
    .sobreUl figure{
        display: none;
    }
    .especi p br{
        display: none;
    }
    .especi div{
        width: 100%;

    }
    .especi div figure{
        width: 80%;
    }
    .especi a{
        width: 30%;
        font-size: 10pt;
    }
}
/*responsividades*/
/*Telas tablet*/
@media (max-width:768px){
    h2{
        font-size: 15pt;
    }
    h3{
        font-size: 11.3pt;
    }
    p{
        line-height: 1.3;
    }
    .cabecalho div{
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .navMenu{
        margin-bottom: 2% ;
        padding-top: 2%;
     
    }
    .navMenu ul li{
        margin: 0;
        font-size: 9pt; 
    }
    .img-rcpcao {
        font-size: 8.5pt;
    }
    .sobreUl figure{
        display: none;
    }
    .especi p br{
        display: none;
    }
    .especi div{
         width: 100%;
    }
    .especi div figure{
        margin: 0 auto;
        margin-bottom: 5%;
        width: 40%;
    }
    .especi a{
        height: 5vh;
        font-size: 10pt;
    }
}
/*tela mobile*/
@media (max-width:525px){
    h2{
        font-size: 15pt;
    }
    h3{
        font-size: 11.3pt;
    }
    p{
        line-height: 1.3;
    }
    .fotoLog {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .fotoLog img {
        width: 150px;
        text-align: center;
    }
    .navMenu{
        border-top: 2px solid rgba(0, 0, 0, .1);
        margin-bottom: 2% ;
        padding-top: 2%;
         margin: 0 auto 3%;
    }
    .navMenu ul li{
        margin: 0;
        font-size: 9pt; 
    }
    .img-rcpcao {
        font-size: 8.5pt;
    }
    .sobreUl figure{
        display: none;
    }
    .especi p br{
        display: none;
    }
    .especi div{
        width: 100%;

    }
    .especi div figure{
        width: 80%;
    }
    .especi a{
        width: 30%;
        font-size: 10pt;
    }
}
